# Created from template: https://github.com/github/gitignore/blob/master/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
MANIFEST
tests/build/
tests/dist/
tests/MANIFEST

# Desktop Environment
.directory
*.kate-swp

# Other
updfiles
UpdateFiles.desktop
